* {

}

Button {
    /*-fx-text-fill: #212529;*/
    -fx-text-fill: #343a40;
    /*-fx-background-color: #f8f9fa;*/
    -fx-background-color: transparent;
    /*-fx-border-color: #f8f9fa;*/
    -fx-border-color: #343a40;
    /*-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 2, 0, 0, 0);*/
    /*-fx-font-weight: 400;*/
    -fx-border-radius: 4;
    /*-fx-font-size: 18;*/

}

Button:hover {
    /*-fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);*/
    /*-fx-background-color: #ebebeb;*/
    /*-fx-text-fill: #212529;*/
    -fx-text-fill: #fff;
    /*-fx-background-color: #e2e6ea;*/
    -fx-background-color: #343a40;
    -fx-border-color: #343a40;
    -fx-border-radius: 5;
}

AnchorPane{
    -fx-background-color: #fff;
}

Button:pressed {
    -fx-background-color: #cfcfcf;
}

MenuBar,
ToolBar {
    -fx-background-color: #fff;
}